<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        
        <meta name="description" content="Your page description here">
        <meta name="keywords" content="cmd, command, line, programs, nousad, ssn, nedohackers, lite">
        <meta name="author" content="Nousad">
        
        <link rel="icon" href="/static/assets/{{ path }}.png" type="image/png">

        <link rel="stylesheet" href="/static/assets/base.css">
        <script src="/static/assets/base.js"></script>

        <link rel="stylesheet" href="/static/assets/{{ path }}.css">
        <script src="/static/assets/{{ path }}.js"></script>

        <title>{{ title }}</title>
    </head>
    <body>
        <div class="window">
            <div class="title-bar">
                <div class="title-wrapper">
                    <img src="/static/assets/{{ path }}.png" alt="{{ title }}" class="icon">
                    <div class="title">{{ title }}</div>
                </div>
                <a href="{% block closeexe %}/system/close.exe{% endblock %}" class="close-button">
                    <img src="/static/images/close.png" alt="Close">
                </a>
            </div>
            <div class="content">
                {% block content %}{% endblock %}
            </div>
        </div>

        <input type="text" placeholder="Scale" id="scale">
    </body>
</html>
